
.container {
    display: inline-grid;
    grid-template: 140px 40px 50px 140px 140px 140px 140px 140px/170px 170px 170px 170px 170px 170px 170px 170px 170px;
    background-color: lightblue; 
    padding:15px;
  }
  
  .room {
    font-size: 50%;
    text-align: center;
  }
  
  #banner {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: white;
    display: inline-grid;
    grid-template: auto auto / 75% auto auto auto;
    padding:15px;
  }
  
  #announceAndTrend {
    grid-column: 8 / 10;
    grid-row: 4 / 10;
  }
  
  #projects {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 10;
    display: inline-grid;
    grid-template:  auto auto auto/ auto auto;
  }
  
  #nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 9;
    display: inline-grid;
    grid-template: auto auto auto auto auto auto auto auto auto auto 100%/auto;
    text-align: left;
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
  }
  #header {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 9;
    display: inline-grid;
    grid-template: auto/auto auto auto auto auto;
  }
  .projectItems {
    background-color: white;
    margin: 10px;
    border-left: 5px solid sandybrown;
    border-radius: 6px;
  }
  .navItem, .bannerItem {
    padding: 15px;
  }
  .navItem > h1 {
    margin-left: 10px;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }
p {
    font-size: 14px;
}
.svg-icon.search-icon, #bell, #dog, #ball,#cat, #car, #logo {
    width: 30px;
    height: 30px;
  
    /* On hover: blue strokes */
    &:focus,
    &:hover {
      .search-path {
        stroke: #299ecc;
      }
    }
}
#searchIcon {
    margin-right: 15px;
}
.projectItems > p {
    margin: 15px;
    font-size: 16px;
    text-align: left;
}
.projectItems > h1 {
    margin: 15px;
    padding: 10px;
    text-align: left;
}
#announceMents {
    display: inline-grid;
    grid-template: auto auto auto/auto;
    background-color: white;
    margin: 15px;
    padding: 20px;
    border-radius: 5px;
}
#trendIng {
    display: inline-grid;
    grid-template: auto auto auto auto/auto;
    background-color: white;
    margin: 15px;
    padding: 15px;
    width: 80%;
    border-radius: 5px;
}
.btns {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    border-radius: 20%;
}
.trending {
    display: inline-flex;
}
#dog, #ball, #cat, #car, #logo {
    margin-top: 5px;
    margin-right: 10px;
}
.announcements > p, .announcements > h2 {
    text-align: left;
}
.announcements > h2 {
    font-weight: bold;
    font-size: 15px;
}
.trending > p {
    float: right;
    flex-grow: inherit;
}
#iconAndHi {
    display: inline-grid;
    grid-template:auto/auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}
.iconContainer {
    display: inline-grid;
    grid-template:auto/auto auto auto;
}
#star, #eye, #restore {
    width: 30px;
    height: 30px;
    position: relative;
    top:30px;
    left:140px;
    margin-left: 8px;
    margin-right: 8px;
}