
.container {
    display: inline-grid;
    grid-template: 140px 40px 50px 140px 140px 140px 140px 140px/170px 170px 170px 170px 170px 170px 170px 170px 170px;
    background-color: lightblue; 
  }
  
  .room {
    border: 1px solid;
    font-size: 50%;
    text-align: center;
  }
  
  #living-room {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: white;
  }
  
  #announceAndTrend {
    grid-column: 8 / 10;
    grid-row: 4 / 10;
  }
  
  #projects {
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 10;
    display: inline-grid;
    grid-template:  auto auto auto/ auto auto;
  }
  
  #nav {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 9;
    display: inline-grid;
    grid-template: auto auto auto auto auto auto auto auto auto auto 100%/auto;
    text-align: left;
    background-color: cornflowerblue;
    padding: 15px;
    color: white;
    font-size: 12px;
  }
  #header {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 9;
    display: inline-grid;
    grid-template: auto/auto auto auto auto auto;
  }
  .projectItems {
    border: 1px solid black;
    background-color: white;
    margin: 10px;
    border-left: 5px solid sandybrown;
    border-radius: 6px;
  }
  .navItem {
    border: 1px solid black;
  }
